body
{
	margin: 0px;
}

.megalito
{
	background-image: url(../img/fondo vector.png);
}

.ind_nav
{
	width: 100vw;
	height: 5em;
	background-color: green;
	display: flex;
	justify-content: space-between;
}

.nav_1
{
	width: 7em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav_1 button
{
	width: 4em;
	height: 4em;
}

.opcions /*imagen del nav_1*/
{
	width: 80%;
	height: 60%;
}

.intro_cuerpo
{
	width: 94%;
	height: 20em;
	display: flex;
	justify-content: space-around;
	background-color: black;
	color: red;
	margin:2em;
	border-radius: 1em;
}

.inter_cuerpo
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


.inter_cuerpo strong
{
	font-weight: normal;
}

.inter_cuerpo span
{
	font-family: Comic Sans MS, Arial;
}

.div_tigre
{
	display: flex;
	justify-content: space-around;
}

.intro_cuerpo img
{
	width: 12em;
	height: 12em;
}

.nav_2
{
	width: 25em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.nav_2 span
{
	text-align: center;
	color: white;
	font-family: Comic Sans MS, Arial;
	font-size: 1.5em;
	font-weight: bold;
}

.nav_3
{
	width: 14em;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: space-around;
}

.registrese /*botón derecho del nav*/
{
	width: 13em;
	height: 3em;
	background-color: orange;
}

.registrese a
{
	color: white;
	font-size: 1.5em;
	font-family: Calibri, Arial;
	text-decoration: none;
	text-align: center;
}

.cuerpo
{
	display: flex;
	justify-content: space-around;
}

.sup_box
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

.secciones
{
	width: 84.3em;
}

.algunos
{
	text-align: center;
	width: 94%;
	height: 7em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgb(200,200,200);
	font-family: Comic Sans MS, Arial;
	font-size: 1.4em;
	margin:2em;
	border-radius: 1em;
}

.cartillas
{
	width: 94%;
	height: 40em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	margin:2em;
	background-color: greenyellow;
	border-radius: 1em;
}

.group_1, .group_2
{
	width: 94%;
	height: 22em;
	display: flex;
	justify-content: space-around;
	align-content: center;
	margin: 3em;
}

.cart_1, .cart_2, .cart_3, .cart_4
{
	background-image: linear-gradient(gold,white);
	width: 18em;
	height: 100%;
	position: relative;
	font-family: Comic Sans MS, Arial;
	font-weight: 200px;
	overflow: hidden;
}

.rit_1, .rit_2, .rit_3, .rit_4
{
	width: 18em;
	height: 10.9em;
	background-image: url(../img/vegetación.jpg);
	background-position: center;
	position: absolute;
	right: 17em;
	transition-property: all;
	transition-duration: 1s;
}

.rit_1:hover, .rit_2:hover, .rit_3:hover, .rit_4:hover
{
	right:0em;
}

footer
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 6em;
	background-color: lightgreen;
	font-family: Comic Sans MS, Arial;
	font-size: 1.5em;
	text-align: center;
}

.anexos
{
	margin: 1em;
	background-color: pink;
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	border-radius: 1em;
	height: 20em;
}

.embedado
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.embedado embed
{
	width:22em;
	height:15em;
}

.mapa
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}

.map_2 iframe
{
	width:25em;
	height:17em;
}